*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url("../img/imagem1.png");
    color: white;
    width: 1600px;
    height: 900px;  
    font-size: 60px;
}

li {
    list-style: none;
}